<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/materialize.min.css') }} media="screen,projection" />
    <link rel="shortcut icon" href={{ url_for('static', filename='src/images/favicon.png') }} type="image/vnd.microsoft.icon" />
    <link rel="icon" href={{ url_for('static', filename='src/images/favicon.png') }} type="image/vnd.microsoft.icon" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>长空雁应急通信系统</title>
</head>

<body onload="flushNodeList()">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src={{ url_for('static', filename='js/materialize.min.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/aeronode.js') }}></script>
    <nav class="light-blue">
        <div class="nav-wrapper white">
            <a href="#!" class="brand-logo blue-text center">长空雁</a>
            <a href="#" data-target="sidenav-left" class="sidenav-trigger">
                <i class="material-icons blue-text">menu</i>
            </a>
        </div>
    </nav>
    <ul id="sidenav-left" class="sidenav sidenav-fixed">
        <li class="logo center">
            <img src={{ url_for('static', filename='src/images/aeronode-logo.png') }} width="150">
        </li>
        <li class="bold"><a href="#aeronode-cases">典型应用场景</a></li>
        <li class="bold"><a href="#aeronode-video">长空雁后台管理系统</a></li>
        <li class="bold"><a href="#aeronode-information">自组网终端信息</a></li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12 offset-l2">
                <div class="row">
                    <div class="col s12">
                        <div id="aeronode-introduction" class="section">
                            <p>
                                本系统为面向抢险救灾的无线自组网通信/监控系统，目的是为灾后救援工作提供强有力的信息化支撑，保障抢险救灾任务的顺利进行。在信息化迅猛发展的新时代，社会的各个领域在发生着深刻的变革，装备的优良直接关系着军队的战斗力，本系统充分利用了信息化平台强大的运算能力，实现了信息的快速化处理。系统由手持、车载、机载自组网终端和后台监控服务器组成，不同类型的自组网终端可以适应不同的灾区环境，三种类型的自组网终端可以实现一定范围的区域覆盖，形成应急通信网络，自组网终端可以采集视频、话音、图片等多种类型数据，终端采集到的数据可以以多跳路由的形式发送至后台服务器，客户端以IP化的方式访问服务器，即可查看前方的具体信息。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div id="aeronode-cases" class="section">
                            <p>
                                <h4 class="header blue-text">
                                    典型应用场景
                                </h4>
                                <div class="divider"></div>
                                这些场景下往往伴随通信基站的受损或毁坏，需要快速搭建通信网络，同时，网络拓扑存在不确定性，部分节点可能会失效。使用传统的通信方式一旦中心节点被破环，整个网络即遭到破坏。
                            </p>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src={{ url_for('static', filename='src/images/earthquake.jpg') }}>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">地震<i class="material-icons right">more_vert</i></span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">地震<i class="material-icons right">close</i></span>
                                <p>地震发生时通信基站可能会受损，此时常规通讯手段无法正常通信。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src={{ url_for('static', filename='src/images/fire.jpg') }}>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">火灾<i class="material-icons right">more_vert</i></span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">火灾<i class="material-icons right">close</i></span>
                                <p>火灾时常规通讯手段无法进入建筑物内部。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src={{ url_for('static', filename='src/images/mudflow.jpg') }}>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">泥石流<i class="material-icons right">more_vert</i></span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">泥石流<i class="material-icons right">close</i></span>
                                <p>泥石流多发于山林地区，基站信号受地形干扰严重，基站有一定受损可能性。</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12">
                        <div id="aeronode-video" class="section">
                            <p>
                                <h4 class="header blue-text">
                                    长空雁后台管理系统
                                </h4>
                                <div class="divider"></div>
                                监控终端状态，接收终端回传的视频。
                            </p>
                        </div>
                    </div>
                    <div class="col s12 ">
                        <div class="row">
                            <div class="col s12 m6 l4">
                                <video id="video1" class="responsive-video" controls>
                                    <source src="src/videos/test.mp4">
                                    测试用视频
                                </video>
                                <div class="row">
                                    <div class="col s3 m3 l3">
                                    <button id="1" onclick="request(1)" disabled="disabled" class="btn">节点1</button> 
                                    </div>
                                    <div class="col s3 m3 l3">
                                    <button onclick="video1.load()" class="btn">刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l4">
                                <video id="video2" class="responsive-video" controls>
                                    <source src="src/videos/test.mp4">
                                    测试用视频
                                </video>
                                <div class="row">
                                    <div class="col s3 m3 l3">
                                    <button id="2" onclick="request(2)" disabled="disabled" class="btn">节点2</button> 
                                    </div>
                                    <div class="col s3 m3 l3">
                                    <button onclick="video2.load()" class="btn">刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l4">
                                <video id="video3" class="responsive-video" controls>
                                    <source src="src/videos/test.mp4">
                                    测试用视频
                                </video>
                                <div class="row">
                                    <div class="col s3 m3 l3">
                                    <button id="3" onclick="request(3)" disabled="disabled" class="btn">节点3</button> 
                                    </div>
                                    <div class="col s3 m3 l3">
                                    <button onclick="video3.load()" class="btn">刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l4">
                                <video id="video4" class="responsive-video" controls>
                                    <source src="src/videos/test.mp4">
                                    测试用视频
                                </video>
                                <div class="row">
                                    <div class="col s3 m3 l3">
                                    <button id="4" onclick="request(4)" disabled="disabled" class="btn">节点4</button> 
                                    </div>
                                    <div class="col s3 m3 l3">
                                    <button onclick="video4.load()" class="btn">刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l4">
                                <video id="video5" class="responsive-video" controls>
                                    <source src="src/videos/test.mp4">
                                    测试用视频
                                </video>
                                <div class="row">
                                    <div class="col s3 m3 l3">
                                    <button id="5" onclick="request(5)" disabled="disabled" class="btn">节点5</button> 
                                    </div>
                                    <div class="col s3 m3 l3">
                                    <button onclick="video5.load()" class="btn">刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l4">
                                <video id="video6" class="responsive-video" controls>
                                    <source src="src/videos/test.mp4">
                                    测试用视频
                                </video>
                                <div class="row">
                                    <div class="col s3 m3 l3">
                                    <button id="6" onclick="request(6)" disabled="disabled" class="btn">节点6</button> 
                                    </div>
                                    <div class="col s3 m3 l3">
                                    <button onclick="video6.load()" class="btn">刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l4">
                                <video id="video7" class="responsive-video" controls>
                                    <source src="src/videos/test.mp4">
                                    测试用视频
                                </video>
                                <div class="row">
                                    <div class="col s3 m3 l3">
                                    <button id="7" onclick="request(7)" disabled="disabled" class="btn">节点7</button> 
                                    </div>
                                    <div class="col s3 m3 l3">
                                    <button onclick="video7.load()" class="btn">刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l4">
                                <video id="video8" class="responsive-video" controls>
                                    <source src="src/videos/test.mp4">
                                    测试用视频
                                </video>
                                <div class="row">
                                    <div class="col s3 m3 l3">
                                    <button id="8" onclick="request(8)" disabled="disabled" class="btn">节点8</button> 
                                    </div>
                                    <div class="col s3 m3 l3">
                                    <button onclick="video8.load()" class="btn">刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l4">
                                <video id="video9" class="responsive-video" controls>
                                    <source src="src/videos/test.mp4">
                                    测试用视频
                                </video>
                                <div class="row">
                                    <div class="col s3 m3 l3">
                                    <button id="9" onclick="request(9)" disabled="disabled" class="btn">节点9</button> 
                                    </div>
                                    <div class="col s3 m3 l3">
                                    <button onclick="video9.load()" class="btn">刷新</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div id="aeronode-information" class="section">
                                <p>
                                    <h4 class="header blue-text">
                                        自组网终端参数
                                    </h4>
                                    <div class="divider"></div>
                                    自组网终端基本参数。
                                </p>
                            </div>
                            <div class="section">
                                <table class="highlight">
                                    <tbody>
                                        <tr>
                                            <th>核心板</th>
                                            <td>友善之臂 Tiny4412</td>
                                            <th>处理器</th>
                                            <td>Samsung Exynos4412</td>
                                        </tr>
                                        <tr>
                                            <th>主频</th>
                                            <td>1.5 GHz</td>
                                            <th>核心数</th>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <th>RAM</th>
                                            <td>1GB DDR3</td>
                                            <th>ROM</th>
                                            <td>4GB Emmc</td>
                                        </tr>
                                        <tr>
                                            <th>USB</th>
                                            <td>2 * USB 2.0</td>
                                            <th>音频</th>
                                            <td>3.5mm 耳机和麦克风</td>
                                        </tr>
                                        <tr>
                                            <th>网络</th>
                                            <td>有线、2.4G / 5G WiFi</td>
                                            <th>重量(含显示屏、电池)</th>
                                            <td>800g</td>
                                        </tr>
                                        <tr>
                                            <th>单跳传输距离</th>
                                            <td>200m</td>
                                            <th>传输跳数</th>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <th>功率放大器</th>
                                            <td>33dBm</td>
                                            <th>天线</th>
                                            <td>6dB全向天线</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="page-footer blue">
                    <div class="container">
                        <div class="row">
                            <div class="col l6 s12">
                                <h5 class="white-text">长空雁应急通信系统</h5>
                                <p class="grey-text text-lighten-4">南京航空航天大学</p>
                                <p class="grey-text text-lighten-4">航空通信网络实验室</p>
                            </div>
                            <div class="col l4 offset-l2 s12">
                                <h5 class="white-text">相关链接</h5>
                                <ul>
                                    <li>
                                        <a class="grey-text text-lighten-3" href="http://www.nuaa.edu.cn/">
                                            南京航空航天大学
                                        </a>
                                    </li>
                                    <li>
                                        <a class="grey-text text-lighten-3" href="http://aeronet.nuaa.edu.cn/">
                                            航空自组织网络协议在线仿真
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright">
                        <div class="container">
                            © 2018 Copyright NUAA AeroLab
                        </div>
                    </div>
                </footer>
            </div>
        </div>
</body>

</html>